@import url(./../../node_modules/bootstrap/dist/css/bootstrap.css);
body{
    width: 100vw;
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.logoMG{
    border-radius: 30px;
    border : 3px solid black;
    border-style: none;
    width: 250px;
    height: 50px;
    /* overflow: hidden; */
}

.logoMG img{
    width:200px;
    height: 50px;
}

header{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width:100%;
    margin:0;
}

.contactMail{
}

.listNav li{
    list-style: none;
    justify-content: center;
    width:20%;
    padding:5px;
    text-align: center;
}

.bar{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color:rgb(38, 36, 34);
    width:120px;
    height:100px;
}

.bar:hover{
    text-transform: uppercase;
    border-bottom: 1px solid rgb(67, 104, 80);
    color: rgb(67, 104, 80);
    font-size: 15px;
}


nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    width:100%;
    height:80px;
    background-color: rgb(246, 236, 191);
    /* background-color: rgb(195, 173, 229); */
    /* background-color:rgb(255, 235, 153) */
    /* font-size: calc(0.5rem + 1.5 vw); */
}

nav ul{
    display: flex;
    align-items: center;
    margin:0;
    padding:0;
    gap:35px;
    justify-content: space-between;
    width: 70%;
}

nav li {
    font-size: 14px;
    font-weight: bolder;
}


#icon{
    cursor: pointer;
    display: none;
    right:0;
    top:0;
    width: 50px !important;
    height: 50px !important;
}
.dropdownLangage{
    display: none;
    float:left;
    overflow: hidden;
}
.iconTranslate{
    cursor: pointer;
    position: relative;
}

.translate{
    width: 30px;
    height: 30px;
}

.dropdownLangage{
    overflow: hidden;
    float:left;
    display: none;

}
.langages{
    display: block;
    color:white;
    border-radius: 5px;
    left:-100px;
    position: absolute;
    right:10px;
    top:60px;
    width: 120px;
    background-color:rgb(74, 70, 66); ;
}


/* Laptop */
@media (min-width:769px) and (max-width:1024px){
    nav li {
        font-size: 10px;
    }
}
/* //Tablette */
@media (min-width:426px) and (max-width:768px){
    #icon{
        display:block ;
    }
    nav ul{
        position: fixed;
        top:-150%;
        flex-direction: column;
        text-align: center;
        width: 100%;
        transition: 0.25s;
        background-color:white;
        opacity: 1;
    }
    nav li{
        padding:3px 0;
        top:15%;
        background-color:white;
        color:rgb(38, 36, 34);
    }
    .bar:hover{
        background-color: white;
    }
    nav.active ul{
        left:0;
        top: 80px;
        gap:2px;
    }
    .bar{
        font-size: 12px;
    }
}

/* //Mobile L */
@media (min-width:376px) and (max-width:425px){
    #icon{
        display:block ;
    }
    nav ul{
        position: fixed;
        top:-150%;
        flex-direction: column;
        text-align: center;
        width: 100%;
        transition: 0.25s;
        background-color:white;
        opacity: 1;
    }
    nav li{
        padding:3px 0;
        top:15%;
        background-color:white;
        color:rgb(38, 36, 34);
    }
    .bar:hover{
        background-color: white;
    }
    nav.active ul{
        left:0;
        top: 80px;
        gap:2px;
    }
    .bar{
        font-size: 12px;
    }
}

/* // Mobile M */
@media (max-width:375px){
    #icon{
        display:block ;
    }
    nav ul{
        position: fixed;
        top:-150%;
        flex-direction: column;
        text-align: center;
        width: 100%;
        transition: 0.25s;
        background-color:white;
        opacity: 1;
    }
    nav li{
        padding:3px 0;
        top:15%;
        background-color:white;
        color:rgb(38, 36, 34);
    }
    .bar:hover{
        background-color: white;
    }
    nav.active ul{
        left:0;
        top: 80px;
        gap:2px;
    }
    .bar{
        font-size: 12px;
    }
}
/* ---------------------------------------------------------------- */
/* Section 1 : Banière */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../src/image/imageworkers.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    width: 100%;
    height: 650px;
}

.texteBanner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    width:100%;
    height: 180px;
    z-index: 1; 
    opacity: 1;
    color:white
}

h2{
    font-size: 80px;
}

/* //Mobile L */
@media (min-width:376px) and (max-width:425px){
    .texteBanner h2,p{
        width: 80%;
        text-align: center;
    }
    .texteBanner h2{
        font-size: 40px;
    }
}

/* // Mobile M */
@media (max-width:375px){
    .texteBanner h2,p{
        width: 80%;
        text-align: center;
    }
    .texteBanner h2{
        font-size: 40px;
    }
}



/* -------------------------------------------------------- */
/* Section 2 : What is it */
.whatIs{
    width: 100%;
    height:950px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(173, 188, 159)
    ;
    /* background-color: rgb(229, 212, 255); */
    /* background-color: rgb(202, 173, 222); */
    /* background-color: rgb(251, 248, 204); */
    /* background-color: rgba(204, 213, 174); */
}

.textWhatIs{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.textWhatIs{
    color:white; 
}

.paragrapheWhat{
    background-color:rgb(249, 249, 249);
    border-radius: 20px;
    color:rgb(99, 136, 137);
    font-weight: bolder !important;
    padding: 15px;
    line-height: 30px;
    height: 270px;
    width:70%;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formationsTrio{
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.formation{
    width: 80%;
    height:280px;
    border: 2px dotted black;
    border-radius: 20px;
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:15px;
    transition: 0.3s;
    
}

.formation:hover{
    /* background-color: rgb(214, 241, 235); */
    background-color: rgb(251, 250, 218);
    /* background-color: rgb(243, 234, 249); */
    /* background-color: rgb(233, 237, 201);    */
    transform: scale(1.02);
}

.formation h3{
    margin: 0;
}

.imgList{
    display: flex;
    gap:30px;
}

.listFormation li{
    width: 80%;
    display: flex;
}

.coworkImg{
    width: 40%;
    height: auto;
    border-radius: 50%;
}
.intership{
    width: 35%;
    border-radius: 50%;
}

.agendaImg {
    width: 40%;
    height: auto;
}
.btnClick{
    border-radius: 20px;
    border:2px solid black;
    width: 150px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top:15px;
    margin-bottom:10px;
}

.btnClick a{
    text-decoration: none;
    color:black;

}

/* //Laptop */
@media (min-width:769px) and (max-width:1024px){
    .textWhatIs h2{
        font-size: 40px;
    }
    .formation{
        height: 230px;
        padding: 5px;
    }
    .formation h3{
        font-size: 20px;
    }

    .imgList{
        gap:10px;
        height:140px
    }
    .btnClick{
        width: 100px;
    }
}

/* //Tablette */
@media (min-width:426px) and (max-width:768px){
    .textWhatIs{
        width: 90%;
        height: fit-content;
    }
    .textWhatIs h2{
        font-size: 30px;
        text-align: center;
    }
    .formationsTrio{
        width: 90%;
    }
    .formation{
        width: 70%;
        height:200px;
        gap:7px
    }
    .imgList{
        height: 130px;
    }
}

/* //Mobile L */
@media (min-width:376px) and (max-width:425px){
    .whatIs{
        height: fit-content;
    }
    .textWhatIs{
        width: 90%;
        height: fit-content;
    }
    .textWhatIs h2{
        font-size: 30px;
        text-align: center;
    }
    .paragrapheWhat{
        width: 100%;
    }
    .formationsTrio{
        width: 95%;
    }
    .formation{
        width: 90%;
        height:200px;
        gap:7px
    }
    .listFormation{
        margin-bottom: 0px;
    }
    .listFormation li{
        font-size: 14px;
        padding-left: 0px;
        width:150px
    }
    .imgList{
        height: 130px;
        gap:5px;
    }

    .btnClick{
        width: 100px;
    }
    .btnClick a{
        font-size: 14px;
    }
}

/* // Mobile M */
@media (max-width:375px){
    .whatIs{
        height: fit-content;
        padding: 2px;
    }
    .textWhatIs{
        width: 90%;
        height: fit-content;
    }
    .textWhatIs h2{
        font-size: 30px;
        text-align: center;
    }
    .paragrapheWhat{
        width: 100%;
        font-size: 15px;
    }
    .formationsTrio{
        width: 100%;
        padding: 10px;
    }
    .formation{
        width: 95%;
        height:200px;
        gap:7px
    }
    .listFormation{
        margin-bottom: 0px;
    }
    .listFormation li{
        font-size: 14px;
        padding-left: 0px;
        width:150px
    }
    .imgList{
        height: 130px;
        gap:5px;
    }

    .btnClick{
        width: 100px;
    }
    .btnClick a{
        font-size: 14px;
    }
}

/* Section 3 : Evenements */
.events{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    /* background-color: rgb(78, 75, 75); */
    background-color: rgb(251, 250, 218);
}

.notetitle{
    width: 50px;
    padding-right: 10px;
}

.date{
    width: 50px; 
    background-color: rgb(212, 231, 197);
    border:10px solid rgb(67, 104, 80);
}
.date p{
    color:rgb(18, 55, 42);
}
.events h1{
    width: 60%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.971);
    border-radius: 50px;
    margin:0;
    box-shadow:  -9px -9px 18px hsl(127, 6%, 73%),
    9px 9px 18px #fff1f1;
}
.contentEvent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:100px;
    width:100%;
    height: 300px;
}

.date{
    width: 160px;
    height: 160px;
    border:1px solid rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow:  11px 11px 22px #8b7e7e,
             -11px -11px 22px #5e5f5c6e;
}

.date p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    font-size: 25px;
}

.up{
    margin-bottom: 100px;
}

.down{
    margin-top: 100px;
}
.bullesInfos{
    width: 90%;
    height: 300px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    flex-wrap: wrap;
    animation: moving;
}
.contactBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactBtn button{
    border-style: none;
    background-color: white;
    height: 80px;
    width: 200px;
    border-radius: 20px;
}
.contentEvent .button{
    width: 200px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agendaEvents{
    width: 400px;
}

/* Laptop */
@media (min-width:769px) and (max-width:1024px){
    .events{
        height:700px;
    }
    .events h1{
        width: 80%;
    }
    .contentEvent{
        gap:0px;
        height:350px;
        display: flex;
        flex-direction: column;
    }
    .bullesInfos{
        width: 70%;
    }
    .date{
        width: 100px;
        height: 100px;
    }
    .date p{        
        font-size: 15px;
        width:90px;
        margin:0;
    }
    
}

/* Tablette */
@media (min-width:426px) and (max-width:768px){
    .events{
        height:700px;
    }
    .events h1{
        width: 70%;
        text-align: center;
        font-size: 25px;
    }
    .notetitle{
        margin-left: 20px;
    }
    .contentEvent{
        gap:20px;
        height:450px;
        display: flex;
        flex-direction: column;
    }
    .bullesInfos{
        width: 90%;
        height: fit-content;
    }
    .date{
        width: 150px;
        height: 150px;
    }
    .date p{        
        font-size: 15px;
        width:150px;
        margin:0;
    }
    .up{
        margin-bottom: 0px;
    }
    .down{
        margin-top: 0px;
    }
}

/* Mobile L */
@media (min-width:376px) and (max-width:425px){
    .events{
        width: 100%;
        height:780px;
    }
    .events h1{
        width: 80%;
        text-align: center;
        font-size: 25px;
    }
    .notetitle{
        margin-left: 20px;
    }
    .contentEvent{
        gap:20px;
        height:600px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .bullesInfos{
        width: 90%;
        gap:10px;
        height: fit-content;
    }
    .date{
        width: 140px;
        height: 140px;
    }
    .date p{        
        font-size: 20px;
        width:140px;
        margin:0;
    }
    .up{
        margin-bottom: 0px;
    }
    .down{
        margin-top: 0px;
    }
}

/* Mobile M */
@media (max-width:375px){
    .events{
        width: 100%;
        height:780px;
    }
    .events h1{
        width: 80%;
        height: 80px;
        text-align: center;
        font-size: 20px;
    }
    .notetitle{
        margin-left: 20px;
    }
    .contentEvent{
        gap:20px;
        height:550px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .bullesInfos{
        width: 90%;
        gap:30px;
        height: fit-content;
    }
    .date{
        width: 120px;
        height: 120px;
    }
    .date p{        
        font-size: 15px;
        width:120px;
        margin:0;
    }
    .up{
        margin-bottom: 0px;
    }
    .down{
        margin-top: 0px;
    }
}

/* Section 4 : Carousel Partenaires */
.partners{
    width: 100%;
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.carousel{
    width: 70%;
    height: 400px;
    position: relative;
}

.carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    inset:0;
    opacity: 0;
    transition: 250ms opacity ease-in-out;
    transition-delay: 30ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide[data-active]{
    opacity: 1;
    z-index: 1;
    transition-delay:0ms ;
}

.slide img{
    display: block;
    width: 50%;
    height: auto;
    object-fit: cover;
}

.btn-carousel{
    position: absolute;
    background: none;
    border:none;
    font-size: 4rem;
    top:50%;
    z-index: 2;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 0.5rem;
    background-color: rgba(0,0,0,.1);
}

.btn-carousel:hover,
.btn-carousel:focus{
    color: white;
    background-color: rgba(0,0,0,.2);
}

.btn-carousel:focus{
    outline: 1px solid black;
}

.btn-carousel.previous{
    left:1rem;
}

.btn-carousel.next{
    right:1rem;
}

/* Mobile L */
@media (min-width:376px) and (max-width:425px){
    .partners{
        height: 300px;
    }
    .carousel{
        width: 100%;
        height: 200px;
    }
}

/* Mobile M */
@media (max-width:375px){
    .partners{
        height: 300px;
    }
    .carousel{
        width: 100%;
    }
}

/* -------------------------------------- */
/* Section 5 : Contact */
.contactMap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    background-color:rgb(67, 104, 80);
}

.fullContact{
    width: 90%;
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}

.textContact h2{
    font-size: 25px;
    text-decoration: underline;
}

.titleContact{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.googleMap{
    width:70%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
            
iframe{
    height:350px;
    border-radius: 20px;

}
/* Tablette */
@media (min-width:426px) and (max-width:768px){
    .fullContact{
        flex-wrap: wrap;
    }
    .textContact{
        height: 300px;
    }
}

/* Mobile L */
@media (min-width:376px) and (max-width:425px){
    .fullContact{
        flex-wrap: wrap;
        width: 100%;
    }
    .textContact{
        height: 300px;
    }
    .titleContact{
        padding: 10px;
    }
    .googleMap{
        width:90%;
    }
}

/* Mobile M */
@media (max-width:375px){
    .fullContact{
        flex-wrap: wrap;
    }
    .textContact{
        height: 300px;
    }
    .titleContact{
        padding: 10px;
    }
    .contactMap{
        padding: 0;
        height: 700px;
    }
    .googleMap{
        width:100%;
    }
}


/* ----------------------------------------- */
/* Section 6 : Newsletters */
.newsletters{
    width: 100%;
    height:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.news{
    width:100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}
.titreNews{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}       
.titreNews h2{
    font-size: 50px;
    text-align: center;
}

form{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:20px;
}
                
.top{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:25px;
}
.top .rsvp{
    width:80%;
}

.top button{
    border: none;
    background-color: white;
    position: relative;
}

.rsvp {
    height:40px;
    font-size: 15px;
    padding-left:8px;
    background: transparent;
    border: 1px solid #664e26;
    color:#cda45d;
    display: flex;
    justify-content: flex-start;
}

.rsvp:hover{
    border: 1px solid #cda45d
}

.rsvp:focus{
    outline: none
}
.msgInput{
    display: none;
}
.letters{
    width: 60px;
}

/* Laptop */
@media (min-width:769px) and (max-width:1024px){
    .titreNews{
        text-align: center;
    }
    .top .rsvp{
        width:90%;
        height: 60px;
        font-size: 15px;
    }
}

/* Tablette */
@media (min-width:426px) and (max-width:768px){
    .titreNews h2{
        text-align: center;
        font-size: 35px;
    }
    form{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top{
        width:80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top .rsvp{
        width:100%;
        height: 50px;
        font-size: 15px;
    }
}

/* Mobile L */
@media (min-width:376px) and (max-width:425px){
    .newsletters{
        height: 300px;
        padding: 10px;
    }
    .titreNews h2{
        text-align: center;
        font-size: 25px;
    }
    form{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top{
        width:80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top .rsvp{
        width:100%;
        height: 50px;
        font-size: 15px;
    }
}

/* Mobile M */
@media (max-width:375px){
    .newsletters{
        height: 300px;
    }
    .titreNews h2{
        text-align: center;
        font-size: 25px;
    }
    form{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top{
        width:80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top .rsvp{
        width:100%;
        height: 50px;
        font-size: 15px;
    }
}

/* Section 7 : Footer */
.footer{
    background-color: rgb(251, 250, 218);
    width: 100%;
    height: 200px;
}

.reseaux{
    color:black;
    font-size: 60px;
    width: 50%;
}

.network{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:30px;
    flex-wrap: wrap;
    padding:0;
    height: 200px;
}

.network img{
    width: 50px;
    height: 50px;
}
.allIcon{
    display: flex;
}
.iconFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
}
.iconFooter:hover{
    background-color: white;
    border-radius: 20px;
}

.copyright{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Mobile L */
@media (min-width:376px) and (max-width:425px){
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 250px;
    }
    .network{
        flex-wrap: wrap;
        display: flex;
        width: 60%;
        gap:10px;
    }
    .iconFooter{
        width: 100px;
    }
}

/* Mobile M */
@media (max-width:375px){
    
}

/* ------------------------------------ */
/* FORMATIONS */
/* Section 1 : Banière */
.bannerFormation{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../src/image/man-using-laptop-coffee-shop.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    width: 100%;
    height: 650px;
}

.texteBannerFormation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    width:100%;
    height: 180px;
    z-index: 1; 
    opacity: 1;
    color:white
}
/* ------------------------------------------------------ */
/* Section 2 : Formations */
.formationsCetL{
    width: 100%;
    height: 600px;
    background-color: rgb(67, 104, 80) ;
}

/* ------------------------------------------------------ */
/* Section 3 : Se former*/
.seFormer{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoSeFormer{
    width: 50%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.frameVideo{
    border-radius: 30px;
}
.textSeFormer h3{
    font-size: 20px;
}

.titleSeFormer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleSeFormer h3{
    font-size: 25px;

}

.trioImgSeFormer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.trioImgSeFormer img{
    width: 200px;
    height: 205px;
    border:1px solid black;
    border-radius: 70px;
}
.miniImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.miniImg:hover{
    transform: scale(1.1);
}

.miniImg img:hover{
    border:5px solid #9FA3FF;

}
.miniText{
    padding-top:10px;
    margin: 0;
    font-size: 15px;
    height: 40px;
    align-items: center;
}

/* ------------------------------------------------------ */
/* Section 4 : Testimonials */
.testimonial{
    width: 100%;
    height: fit-content;
}

.container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px
}
.card{
    height:370px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    transition: 0.3s;
    border: 2px solid rgb(18, 55, 42);
    background-color:rgb(173, 188, 159);
}

.card:hover{
    /* background-color: #9FA3FF; */
    background-color: rgb(18, 55, 42);
    /* background-color: #9FA3FF;; */
    transform: scale(1.1);
    color: white;
}
.fullcarte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.imgTestimonial{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
}

.italicText{
    font-style: italic;
    font-size: 15px;
    text-align: center;
}

.xpYoutube{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px
}

.xpYoutube .btn{
    height: 30px;
    width: 200px;
    border:1px solid black
}

/* Section 5 : FAQ */
.faq{
    width: 100%;
    height: 500px;
}

/* ----------------------------------- */
/* CONTACT */

.contactMsg{
    width: 100%;
    height: 750px;
    background-color: rgb(173, 188, 159);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
    padding-top:80px;
}

.titreContact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titreContact h3{
    font-size: 40px;
    color:rgb(18, 55, 42);
    font-weight: bolder;
}

.formContactMsg{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}
            
.nameEmail{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.nameEmail .reponse{
    width:45%;
}

.subject{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subject .reponse{
    width: 92%;
}

.message{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message .reponse{
    width: 92%;
    height: 150px;
}
.reponse {
    height:50px;
    font-size: 15px;
    padding-left:8px;
    background: transparent;
    border: 1px solid white;
    color:rgb(18, 55, 42);
    display: flex;
    justify-content: start;
}

.reponse:hover{
    border: 1px solid rgb(173, 188, 159)
}

.reponse:focus{
    outline: none
}
.sendmessage{
    border-style: none;
}

.sendmsg{
    height: 60px;
    width: 180px;
    border-style: none;
    background-color: rgb(18, 55, 42);
    border: 2px solid rgb(18, 55, 42);
    color:white;
    border-radius: 20px;
}



/* A PROPOS */
.bannerAbout{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(99, 136, 137);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    height: 650px;
}

.texteBannerAbout{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../src/image/close-up-detail-team-working-o-new-project-coworking-space-writing-ideas-looking-through-graphics-tablet-laptop-teamwork-business-concept.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    width:60%;
    height: 650px;
    z-index: 1; 
    opacity: 1;
    color:white
}

.textTopAbout{
    color: white;
    width: 40%;
    text-align: center;
}
.textTopAbout h2{
    font-size: 60px;
}

.textTopAbout p{
    font-size: 20px;
}

/* Section 2 - C'est quoi? */
.kesako{
    width: 100%;
}
.allKesako{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:80px;
}
.texteKesako h2{
    font-size: 40px;
}
.imgKesako{
    width: 50%;
    display: flex;
    justify-content: end;
}

.imgKesako img{
    width: 600px;
}