@import url(./../../node_modules/bootstrap/dist/css/bootstrap.css);
body{
    width: 100vw;
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.logoMG{
    border-radius: 30px;
    border : 3px solid black;
    border-style: none;
    width: 250px;
    height: 50px;
    /* overflow: hidden; */
}

.logoMG img{
    width:200px;
    height: 50px;
}

header{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width:100%;
    margin:0;
}
.listNav li{
    list-style: none;
    justify-content: center;
    width:20%;
    padding:5px;
    text-align: center;
}

.bar{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color:rgb(38, 36, 34);
    width:120px;
    height:100px;
}

.bar:hover{
    text-transform: uppercase;
    border-bottom: 1px solid rgb(67, 104, 80);
    color: rgb(67, 104, 80);
    font-size: 15px;
}


nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    width:100%;
    height:80px;
    background-color: #fbfada;
}

nav ul{
    display: flex;
    align-items: center;
    margin:0;
    padding:0;
    gap:25px;
    justify-content: space-between;
    width: 70%;
    z-index: 10;

}

nav li {
    font-size: 14px;
    font-weight: bolder;
    z-index: 10;

}


#icon{
    cursor: pointer;
    display: none;
    right:0;
    top:0;
    width: 50px !important;
    height: 50px !important;
    position: absolute;
    z-index: 10;
}
.dropdownLangage{
    display: none;
    float:left;
    overflow: hidden;
}
.iconTranslate{
    cursor: pointer;
    position: relative;
}

.translate{
    width: 30px;
    height: 30px;
}

.dropdownLangage{
    overflow: hidden;
    float:left;
    display: none;

}
.langages{
    display: block;
    color:white;
    border-radius: 5px;
    left:-100px;
    position: absolute;
    right:10px;
    top:60px;
    width: 120px;
    background-color:rgb(74, 70, 66); ;
}


/* Laptop */
@media (min-width:769px) and (max-width:1024px){
    nav li {
        font-size: 10px;
    }
}
/* //Tablette */
@media (min-width:426px) and (max-width:768px){
    #icon{
        display:block ;
    }
    nav ul{
        position: fixed;
        top:-150%;
        flex-direction: column;
        text-align: center;
        width: 100%;
        transition: 0.25s;
        background-color:white;
        opacity: 1;
    }
    nav li{
        padding:3px 0;
        top:15%;
        background-color:white;
        color:rgb(38, 36, 34);
    }
    .bar:hover{
        background-color: white;
    }
    nav.active ul{
        left:0;
        top: 80px;
        gap:2px;
    }
    .bar{
        font-size: 12px;
    }
}

/* //Mobile L */
@media (min-width:376px) and (max-width:425px){
    #icon{
        display:block ;
    }
    nav ul{
        position: fixed;
        top:-150%;
        flex-direction: column;
        text-align: center;
        width: 100%;
        transition: 0.25s;
        background-color:white;
        opacity: 1;
    }
    nav li{
        padding:3px 0;
        top:15%;
        background-color:white;
        color:rgb(38, 36, 34);
    }
    .bar:hover{
        background-color: white;
    }
    nav.active ul{
        left:0;
        top: 80px;
        gap:2px;
    }
    .bar{
        font-size: 12px;
    }
}

/* // Mobile M */
@media (max-width:375px){
    #icon{
        display:block ;
    }
    nav ul{
        position: fixed;
        top:-150%;
        flex-direction: column;
        text-align: center;
        width: 100%;
        transition: 0.25s;
        background-color:white;
        opacity: 1;
    }
    nav li{
        padding:3px 0;
        top:15%;
        background-color:white;
        color:rgb(38, 36, 34);
    }
    .bar:hover{
        background-color: white;
    }
    nav.active ul{
        left:0;
        top: 80px;
        gap:2px;
    }
    .bar{
        font-size: 12px;
    }
}
/* ---------------------------------------------------------------- */
/* Section 1 : Banière */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../src/image/imageworkers.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    width: 100%;
    height: 650px;
}

.texteBanner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    width:100%;
    height: 180px;
    z-index: 1; 
    opacity: 1;
    color:white
}

h2{
    font-size: 80px;
}

/* //Mobile L */
@media (min-width:376px) and (max-width:425px){
    .texteBanner h2,p{
        width: 80%;
        text-align: center;
    }
    .texteBanner h2{
        font-size: 40px;
    }
}

/* // Mobile M */
@media (max-width:375px){
    .texteBanner h2,p{
        width: 80%;
        text-align: center;
    }
    .texteBanner h2{
        font-size: 40px;
    }
}



/* -------------------------------------------------------- */
/* Section 2 : What is it */
.whatIs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(173, 188, 159);
}

.textWhatIs{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;

}
.textWhatIs h2{
    color:white; 
    font-size: 60px;
}

.paragrapheWhat{
    background-color:rgb(249, 249, 249);
    border-radius: 20px;
    color:rgb(99, 136, 137);
    font-weight: bolder !important;
    padding: 15px;
    line-height: 30px;
    height: 270px;
    width:85%;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  -9px -9px 18px #8a967f,
             9px 9px 18px #d0e2bf;
}

.formationsTrio{
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.formation{
    width: 75%;
    height:280px;
    border: 2px dotted black;
    border-radius: 20px;
    padding:15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:15px;
    transition: all .3s ease;
    
}

.formation:hover{
    background-color: rgb(251, 250, 218);
    transform: scale(1.02); 
}

.formation h3{
    margin: 0;
}

.imgList{
    display: flex;
    gap:20px;
}

.listFormation li{
    width: 80%;
    display: flex;
}

.coworkImg{
    width: 40%;
    height: auto;
    border-radius: 50%;
}
.intership{
    width: 42%;
    height: auto;
    border-radius: 50%;
}

.agendaImg {
    width: 42%;
    border-radius: 50%;
    height: auto;
}
.btnClick{
    border-radius: 20px;
    border:2px solid black;
    width: 150px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top:15px;
    margin-bottom:10px;
}

.btnClick a{
    text-decoration: none;
    color:black;

}

/* //Laptop */
@media (min-width:769px) and (max-width:1024px){
    .whatIs{
        gap:20px;
    }
    .textWhatIs h2{
        font-size: 50px;
    }
    .formation{
        height: 210px;
        padding: 5px;
        width: 80%;
    }
    .formation h3{
        font-size: 20px;
    }

    .imgList{
        gap:10px;
        height:140px
    }
    .btnClick{
        width: 100px;
    }

    .paragrapheWhat{
        width: 100%;
    }
}

/* //Tablette */
@media (min-width:426px) and (max-width:768px){
    .whatIs{
        gap:20px;
    }
    .textWhatIs{
        width: 90%;
        height: fit-content;
        justify-content: center;
        align-items: center;
    }
    .textWhatIs h2{
        font-size: 40px;
        text-align: center;
    }
    .formationsTrio{
        width: 90%;
    }
    .formation{
        width: 70%;
        height:220px;
        gap:7px
    }
    .imgList{
        width: 100%;
        height: 130px;
    }
    .coworkImg,.intership,.agendaImg{
        width: 35%;
        height: auto;
    }
}

/* //Mobile L */
@media (min-width:376px) and (max-width:425px){
    .whatIs{
        height: fit-content;
        gap:10px;
    }
    .textWhatIs{
        width: 90%;
        height: fit-content;
    }
    .textWhatIs h2{
        font-size: 30px;
        text-align: center;
    }
    .paragrapheWhat{
        width: 100%;
        height: fit-content;
        font-size: 12px;
        text-align:center;
        line-height: 25px;
    }
    .formationsTrio{
        width: 100%;
    }
    .formation{
        width: 100%;
        height:200px;
        gap:7px
    }
    .listFormation{
        margin-bottom: 0px;
    }
    .listFormation li{
        font-size: 14px;
        padding-left: 0px;
        width:150px
    }
    .imgList{
        height: 130px;
        gap:5px;
    }

    .btnClick{
        width: 100px;
    }
    .btnClick a{
        font-size: 14px;
    }
}

/* // Mobile M */
@media (max-width:375px){
    .whatIs{
        height: fit-content;
        padding: 2px;
    }
    .textWhatIs{
        width: 90%;
        height: fit-content;
    }
    .textWhatIs h2{
        font-size: 30px;
        text-align: center;
    }
    .paragrapheWhat{
        width: 100%;
        height: fit-content;
        font-size: 12px;
        text-align:center;
        line-height: 25px;
    }
    .formationsTrio{
        width: 100%;
        padding: 10px;
    }
    .formation{
        width: 95%;
        height:200px;
        gap:7px
    }
    .listFormation{
        margin-bottom: 0px;
    }
    .listFormation li{
        font-size: 14px;
        padding-left: 0px;
        width:150px
    }
    .imgList{
        height: 130px;
        gap:5px;
    }

    .btnClick{
        width: 100px;
    }
    .btnClick a{
        font-size: 14px;
    }
}

/* Section 3 : Evenements */
.events{
    width: 100%;
    /* height: 800px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    /* background-color: rgb(78, 75, 75); */
    background-color: rgb(251, 250, 218);
    padding-top: 100px;
    padding-bottom: 100px;
}

.notetitle{
    width: 50px;
    padding-right: 10px;
}

.date{
    width: 50px; 
    background-color: rgb(212, 231, 197);
    border:10px solid rgb(67, 104, 80);
}
.date p{
    color:rgb(18, 55, 42);
}
.events h1{
    width: 60%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.971);
    border-radius: 50px;
    margin:0;
    box-shadow:  -9px -9px 18px hsl(127, 6%, 73%),
    9px 9px 18px #fff1f1;
}
.contentEvent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:100px;
    width:100%;
    padding: 20px;
}

.date{
    width: 160px;
    height: 160px;
    border:1px solid rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:  11px 11px 22px #8b7e7e,
             -11px -11px 22px #5e5f5c6e;
    transition: 3ms;
}

.date:hover{
    transform: all .3s ease;
    background-color: rgb(67, 104, 80);
    font-family: "Playfair Display";

}
.date:hover p{
    color:white;
    font-size: 25px;
}


.date p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    font-size: 20px;
}

.up{
    margin-bottom: 100px;
}

.down{
    margin-top: 100px;
}
.bullesInfos{
    width: 90%;
    /* height: 300px; */
    border-radius: 50%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    flex-wrap: wrap;
}

.contactBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactBtn button{
    border-style: none;
    background-color: white;
    height: 60px;
    width: 180px;
    border-radius: 20px;
}
.contactBtn button:hover{
    font-size: 20px;
    font-weight: bolder !important;
    border:3px solid rgb(67, 104, 80);
}
.contentEvent .button{
    width: 200px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agendaEvents{
    width: 400px;
}

/* Laptop */
@media (min-width:769px) and (max-width:1024px){
    .events h1{
        width: 80%;
    }
    .contentEvent{
        gap:30px;

        /* height:350px; */
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .bullesInfos{
        width: 100%;
        padding: 10px;
    }
    .up{
        margin-bottom: 20px;
    }
    
    .down{
        margin-top:20px;
    }
    .date{
        width: 120px;
        height: 120px;
    }
    .date p{        
        font-size: 15px;
        width:90px;
        margin:0;
    }
}

/* Tablette */
@media (min-width:426px) and (max-width:768px){
    .events{
        padding:40px
    }
    .events h1{
        width: 70%;
        text-align: center;
        font-size: 25px;
    }
    .notetitle{
        margin-left: 20px;
    }
    .contentEvent{
        gap:30px;
        display: flex;
        flex-direction: column;
    }
    .bullesInfos{
        width: 100%;
        gap:30px;
        padding: 10px;
    }
    .date{
        width: 150px;
        height: 150px;
    }
    .date p{        
        font-size: 15px;
        width:120px;
        margin:0;
        text-align: center;
    }
    .up{
        margin-bottom: 0px;
    }
    .down{
        margin-top: 0px;
    }
}

/* Mobile L */
@media (min-width:376px) and (max-width:425px){
    .events{
        width: 100%;
        height:780px;
    }
    .events h1{
        width: 80%;
        text-align: center;
        font-size: 25px;
    }
    .notetitle{
        margin-left: 20px;
    }
    .contentEvent{
        gap:15px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .bullesInfos{
        width: 100%;
        gap:30px;
        padding: 10px;
    }
    .date{
        width: 150px;
        height: 150px;
    }
    .date p{        
        font-size: 15px;
        width:120px;
        margin:0;
        text-align: center;
    }
    .up{
        margin-bottom: 0px;
    }
    .down{
        margin-top: 0px;
    }
}

/* Mobile M */
@media (max-width:375px){
    .events{
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        /* height:780px; */
    }
    .events h1{
        width: 80%;
        height: 80px;
        text-align: center;
        font-size: 20px;
    }
    .notetitle{
        margin-left: 20px;
    }
    .contentEvent{
        gap:15px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .bullesInfos{
        width: 100%;
        gap:30px;
        padding: 10px;
    }
    .date{
        width: 150px;
        height: 150px;
    }
    .date p{        
        font-size: 15px;
        width:120px;
        margin:0;
        text-align: center;
    }
    .up{
        margin-bottom: 0px;
    }
    .down{
        margin-top: 0px;
    }
}

/* Section 4 : Carousel Partenaires */
.partners{
    width: 100%;
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.carousel{
    width: 70%;
    height: 400px;
    position: relative;
}

.carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    inset:0;
    opacity: 0;
    transition: 250ms opacity ease-in-out;
    transition-delay: 30ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide[data-active]{
    opacity: 1;
    z-index: 1;
    transition-delay:0ms ;
}

.slide img{
    display: block;
    width: 50%;
    height: auto;
    object-fit: cover;
}

.btn-carousel{
    position: absolute;
    background: none;
    border:none;
    font-size: 4rem;
    top:50%;
    z-index: 2;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 0.5rem;
    background-color: rgba(0,0,0,.1);
}

.btn-carousel:hover,
.btn-carousel:focus{
    color: white;
    background-color: rgba(0,0,0,.2);
}

.btn-carousel:focus{
    outline: 1px solid black;
}

.btn-carousel.previous{
    left:1rem;
}

.btn-carousel.next{
    right:1rem;
}

.introPartners{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mobile L */
@media (min-width:376px) and (max-width:425px){
    .partners{
        height: 300px;
    }
    .carousel{
        width: 100%;
        height: 200px;
    }
    .introPartners{
        font-size: 20px;
    }
}

/* Mobile M */
@media (max-width:375px){
    .partners{
        height: 300px;
    }
    .carousel{
        width: 100%;
        height: 250px;
    }
    .introPartners{
        font-size: 20px;
    }
}

/* -------------------------------------- */
/* Section 5 : Contact */
.contactMap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    background-color:rgb(67, 104, 80);
}

.fullContact{
    width: 90%;
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}

.textContact h2{
    font-size: 25px;
    text-decoration: underline;
    color:white;
}

.titleContact{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}
.googleMap{
    width:70%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
            
iframe{
    height:350px;
    border-radius: 20px;

}
/* Tablette */
@media (min-width:426px) and (max-width:768px){
    .fullContact{
        flex-wrap: wrap;
    }
    .textContact{
        height: 300px;
    }
}

/* Mobile L */
@media (min-width:376px) and (max-width:425px){
    .fullContact{
        flex-wrap: wrap;
        width: 100%;
    }
    .textContact{
        height: 300px;
    }
    .titleContact{
        padding: 10px;
    }
    .googleMap{
        width:90%;
    }
}

/* Mobile M */
@media (max-width:375px){
    .fullContact{
        flex-wrap: wrap;
    }
    .textContact{
        height: 300px;
    }
    .titleContact{
        padding: 10px;
    }
    .contactMap{
        padding: 0;
        height: 700px;
    }
    .googleMap{
        width:100%;
    }
}


/* ----------------------------------------- */
/* Section 6 : Newsletters */
.newsletters{
    width: 100%;
    padding:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.news{
    width:100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}
.titreNews{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}       
.titreNews h2{
    font-size: 50px;
    text-align: center;
}

form{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:20px;
}
                
.top{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:25px;
}
.top .rsvp{
    width:80%;
}

.top button{
    border: none;
    background-color: white;
    position: relative;
}

.rsvp {
    height:40px;
    font-size: 15px;
    padding-left:8px;
    background: transparent;
    border: 1px solid #664e26;
    color:#cda45d;
    display: flex;
    justify-content: flex-start;
}

.rsvp:hover{
    border: 1px solid #cda45d
}

.rsvp:focus{
    outline: none
}
.msgInput{
    display: none;
}
.letters{
    width: 60px;
}

/* Laptop */
@media (min-width:769px) and (max-width:1024px){
    .titreNews{
        text-align: center;
    }
    .top .rsvp{
        width:90%;
        height: 60px;
        font-size: 15px;
    }
}

/* Tablette */
@media (min-width:426px) and (max-width:768px){
    .titreNews h2{
        text-align: center;
        font-size: 35px;
    }
    form{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top{
        width:80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top .rsvp{
        width:100%;
        height: 50px;
        font-size: 15px;
    }
}

/* Mobile L */
@media (min-width:376px) and (max-width:425px){
    .newsletters{
        height: 300px;
        padding: 10px;
    }
    .titreNews h2{
        text-align: center;
        font-size: 25px;
    }
    form{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top{
        width:80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top .rsvp{
        width:100%;
        height: 50px;
        font-size: 15px;
    }
}

/* Mobile M */
@media (max-width:375px){
    .newsletters{
        height: 300px;
    }
    .titreNews h2{
        text-align: center;
        font-size: 25px;
    }
    form{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top{
        width:80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top .rsvp{
        width:100%;
        height: 50px;
        font-size: 15px;
    }
}

/* Section 7 : Footer */
.footer{
    background-color: rgb(251, 250, 218);
    width: 100%;
    height: 200px;
}

.reseaux{
    color:black;
    font-size: 60px;
    width: 50%;
}

.network{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:30px;
    flex-wrap: wrap;
    padding:0;
    height: 200px;
}

.network img{
    width: 50px;
    height: 50px;
}
.allIcon{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
    align-items: center;
}
.iconFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
}
.iconFooter:hover{
    background-color: white;
    border-radius: 20px;
}

.copyright{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Mobile L */
@media (min-width:376px) and (max-width:425px){
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 250px;
    }
    .network{
        flex-wrap: wrap;
        display: flex;
        width: 60%;
        gap:10px;
    }
    .iconFooter{
        width: 100px;
    }
}

/* Mobile M */
@media (max-width:375px){
    .allIcon{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .network{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        gap:10px;
    }
    .iconFooter{
        width: 120px;
    }
}

/* ------------------------------------ */
/* FORMATIONS */
/* Section 1 : Banière */
.bannerFormation{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../src/image/man-using-laptop-coffee-shop.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    width: 100%;
    height: 650px;
}

.texteBannerFormation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    width:100%;
    height: 180px;
    z-index: 1; 
    opacity: 1;
    color:white
}
/* Mobile L */
@media (min-width:376px) and (max-width:425px){
    .texteBannerFormation h2{
        font-size: 40px;
    }

    .texteBannerFormation p{
        font-size: 20px;
        width: 90%;
    }
}

/* Mobile M */
@media (max-width:375px){
    .texteBannerFormation h2{
        font-size: 40px;
    }

    .texteBannerFormation p{
        font-size: 20px;
        width: 90%;
    }
}
/* ------------------------------------------------------ */
/* Section 2 : Formations */
.formationsCetL{
    width: 100%;
    height: 700px;
    background-color: rgb(99, 136, 137);
    /* background-color: rgb(67, 104, 80) ; */
}

.allFormations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.formationsPart{
    width: 100%;
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.titreFormation{
    width: 80%;
}

.titreFormation h2{
    font-size: 40px;
    color: rgb(173, 188, 159);
    text-align: center;
}
.subtitleFormation{
    width: 90%;
}
.descriptif{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: max-content;
    /* height: 470px; */
    color:rgb(251, 250, 218);
    line-height: 20px;
    font-size: 20px;
    /* border:1px solid white; */
    padding:8px;
    /* margin-right: 30px; */
    border-radius: 20px;

}
.longues{
    display: flex;
    gap:20px;
    overflow-x: auto;
    width: 90%;
    padding:10px;
    border-radius: 20px;
    transition:2s;
}
.nomFormation{
    min-width: 250px;
    height: 380px;
    border:1px solid black;
    display: flex;
    flex-direction: column;
    gap:10px;
    border-radius: 20px;
    padding:10px;
    border:2px solid rgb(173, 188, 159);
    background: #577475;
    box-shadow:  50px 50px 100px #465d5e,
                -50px -50px 100px #688b8c;
        /* box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff; */
    transition:3ms;

}
.nomFormation:hover{
    transform: scale(1.01);
    border:3px solid rgb(173, 188, 159);

}
.nomFormation p{
    height: 100px;
    background-color:rgb(251, 250, 218);
    font-size: 20px;
    color:black;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nomFormation li{
    height: auto;
    width:auto;
    font-size: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.sousdiv{
    border:1px solid red;
    width:100%;
    height: 100px;
}

.sousdivCourte{
    width:100%;
    height: 70px;
}

.descriptif p{
    margin:0px;
}

span{
    color:white;
    font-size: 60px;
    text-decoration: underline;
    cursor: pointer;
}

/* .hide{
    display: none;
} */

.longues::-webkit-scrollbar{
    width:0px;
}

/* Laptop */
@media (min-width:769px) and (max-width:1024px){

}

/* Tablette */
@media (min-width:426px) and (max-width:768px){
    .formationsCetL{
        height: 600px;
    }

    .formationsPart{
        height: 100px;
    }
    .titreFormation h2{
        font-size: 20px;
    }

    span{
        font-size: 30px;
    }
}

/* Mobile L */
@media (min-width:376px) and (max-width:425px){
    .formationsCetL{
        height: 600px;
    }

    .formationsPart{
        height: 100px;
    }
    .titreFormation h2{
        font-size: 20px;
    }
    .descriptif{
        height: 300px;
        margin:0;
    }
    .longues{
        height: 300px;
        width:350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nomFormation{
        height: 240px;
        display: flex;
        align-items: center;
    }
    .nomFormation p{
        font-size: 13px;
        height:30px;
       
    }

    .nomFormation li{
        font-size: 13px;
    }
    span{
        font-size: 30px;
    }
}

/* Mobile M */
@media (max-width:375px){
    .formationsCetL{
        height: 600px;
    }

    .formationsPart{
        height: 100px;
    }
    .titreFormation h2{
        font-size: 20px;
    }
    .descriptif{
        height: 300px;
        margin:0;
    }
    .longues{
        height: 300px;
        width:350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nomFormation{
        height: 240px;
        display: flex;
        align-items: center;
    }
    .nomFormation p{
        font-size: 13px;
        height:30px;
       
    }

    .nomFormation li{
        font-size: 13px;
    }
    span{
        font-size: 30px;
    }
}

/* ------------------------------------------------------ */
/* Section 3 : Se former*/
.seFormer{
    width: 100%;
    height: 600px;
}
.maintitleSeformer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 40px;
}
.raisons{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.videoSeFormer{
    width: 50%;
    height: fit-content;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.frameVideo{
    border-radius: 30px;
}
.textSeFormer{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.textSeFormer h3{
    font-size: 30px;
    font-family: "PlayFair Display";
}

.titleSeFormer{
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.titleSeFormer h3{
    font-size: 25px;
    text-align: center;
    margin: 0;
}
.titleSeFormer img{
    width: 50px;
}
.trioImgSeFormer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
}

.trioImgSeFormer img{
    width: 200px;
    height: 205px;
    border:1px solid black;
    border-radius: 70px;
}
.miniImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.miniImg:hover{
    transform: scale(1.1);
}

.miniImg img:hover{
    border:5px solid rgb(99, 136, 137);

}
.miniText{
    padding-top:10px;
    margin: 0;
    font-size: 15px;
    height: 40px;
    align-items: center;
}

/* Laptop */
@media (min-width:769px) and (max-width:1024px){
    .seFormer{
        height: 500px;
    }

    .raisons{
        height: 400px;
        gap:10px;
        flex-wrap: nowrap;
    }

    .titleSeFormer{
        height: 50px;
    }

    .titleSeFormer h3{
        font-size: 20px;
        height: 45px;
        width: 100%;
    }
    .textSeFormer{
        width: 40%;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .trioImgSeFormer{
        width: 100%;
        height: 200px;
        flex-wrap: nowrap;
        padding: 10px;
    }
    .miniImg{
        height: 160px;
        width: 140px;

    }
    .miniImg img{
        width: 100px;
        height: 105px;
    }
    .miniText{
        height: 30px;
    }
    .miniText p{
        font-size: 10px;
        height: fit-content;
    }
}

/* Tablette */
@media (min-width:426px) and (max-width:768px){
    .seFormer{
        height: 700px;
        margin-bottom: 40px;
    }

    .raisons{
        gap:0px;
        height: 700px;
        margin-bottom: 40px;
        padding-bottom:30px;
        flex-wrap: wrap;
    }

    .videoSeFormer{
        width: 550px;
    }

    .titleSeFormer{
        height: 50px;
    }

    .titleSeFormer h3{
        font-size: 20px;
        height: 45px;
        /* width: 100%; */
    }
    .textSeFormer{
        width: 80%;
        height: 300px;
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 30px;
        /* justify-content: center;
        align-items: center; */
    }
    .trioImgSeFormer{
        width: 100%;
        height: 200px;
        padding: 10px;
    }
    .miniImg{
        height: 160px;
        width: 140px;

    }
    .miniImg img{
        width: 130px;
        height: 105px;
    }
    .miniText{
        height: 30px;
    }
    .miniText p{
        font-size: 10px;
        height: fit-content;
    }
}

/* Mobile L */
@media (min-width:376px) and (max-width:425px){
    .seFormer{
        height: 1100px;        
        margin-bottom: 0px;
    }
    .raisons{
        gap:0%;
        margin-bottom: 40px;
        flex-wrap: wrap;
    }
    .maintitleSeformer{
        font-size: 30px;
        height: 80px;
    }
    .videoSeFormer{
        width: 400px;
        height: 250px;
    }

    .titleSeFormer{
        height: 50px;
    }

    .titleSeFormer h3{
        font-size: 20px;
        height: 45px;
        /* width: 100%; */
    }
    .textSeFormer{
        width: 90%;
        height: 300px;
        display: flex;
        flex-wrap: nowrap;
        /* justify-content: center;
        align-items: center; */
    }
    .trioImgSeFormer{
        width: 100%;
        height: 800px;
        padding: 10px;
    }
    .miniImg{
        height: 200px;
        width: 180px;
    }
    .miniImg img{
        width: 130px;
        height: 130px;
    }
    .miniText{
        height: 30px;
    }
    .miniText p{
        font-size: 10px;
        height: fit-content;
    }
}

/* Mobile M */
@media (max-width:375px){
    .seFormer{
        height: 1000px;        
        margin-bottom: 40px;
        margin-top:20px;
    }
    .raisons{
        /* height: 900px; */
        gap:0%;
        margin-bottom: 40px;
        flex-wrap: wrap;
    }
    .maintitleSeformer{
        font-size: 30px;
        height: 80px;
        text-align: center;
        padding-bottom: 20px;
    }
    .videoSeFormer{
        width: 350px;
        height: 250px;
    }

    .titleSeFormer{
        height: 50px;
    }

    .titleSeFormer h3{
        font-size: 20px;
        height: 45px;
        /* width: 100%; */
    }
    .textSeFormer{
        width: 90%;
        height: 300px;
        display: flex;
        flex-wrap: nowrap;
        /* justify-content: center;
        align-items: center; */
    }
    .trioImgSeFormer{
        width: 100%;
        height: 800px;
        padding: 10px;
        gap:0px;
    }
    .miniImg{
        height: 200px;
        width: 180px;
    }
    .miniImg img{
        width: 130px;
        height: 130px;
    }
    .miniText{
        height: 30px;
    }
    .miniText p{
        font-size: 10px;
        height: fit-content;
    }
}

/* ------------------------------------------------------ */
/* Section 4 : Testimonials */
.testimonial{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titreTestimonial{
    width: 90%;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titreTestimonial h2{
    font-size: 50px;
    font-family: "Playfair Display";
    border: 2px solid black;
    padding: 30px;
    border-radius: 20px;
}
.container{
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:30px
}
.card{
    height:370px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2px;
    transition: 0.3s;
    border: 2px solid rgb(18, 55, 42);
    background-color:rgb(173, 188, 159);
}

.card:hover{
    /* background-color: #9FA3FF; */
    background-color: rgb(18, 55, 42);
    /* background-color: #9FA3FF;; */
    transform: scale(1.1);
    color: white;
}
.fullcarte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.imgTestimonial{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
}

.italicText{
    font-style: italic;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
}
.videoTestiDeux img{
    border-radius:50px;

}
.videoTestiUne img{
    border-radius:50px;

}
/* Laptop */
@media (min-width:769px) and (max-width:1024px){

}

/* Tablette */
@media (min-width:426px) and (max-width:768px){
    .container{
        gap:15px;
        width: 100%;
        height: 400px;
        margin: 0;
        padding: 0;
    }
    .testimonial{
        height: max-content;
        gap:10px;
        margin-top: 40px;
    }
    .titreTestimonial{
        height: 100px;
        padding:3px
    }
    .titreTestimonial h2{
        height: 100px;
        padding:10px;
        margin:0;
    }
    .card{
        width: 30% !important;
        height: 350px;
        margin:0px;
        padding:5px;
        padding-top: 9px;
    }
    .imgTestimonial{
        width: 100px;
        height: 100px;
    }
    .fullcarte{
        padding: 7px;
        gap:2px;
    }
    .smalltext{
        justify-content:none;
        align-items: none;
        height:0;
        gap:7px;
        padding-bottom: 20px;
    }
    .italicText{
        font-size: 11px;
        margin: 0;
    }
}

/* Mobile L */
@media (min-width:376px) and (max-width:425px){
    .container{
        gap:15px;
        width: 100%;
        height: max-content;
        margin: 0;
        padding: 0;
    }
    .testimonial{
        height:1300px;
        gap:10px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .titreTestimonial{
        height: 100px;
        padding:3px
    }
    .titreTestimonial h2{
        height: 70px;
        width: 90%;
        padding:10px;
        margin:0;
        font-size: 30px;
        text-align: center;
    }
    .card{
        width: 140px;
        height: 350px;
        margin:0px;
        padding:5px;
        padding-top: 9px;
    }
    .imgTestimonial{
        width: 100px;
        height: 100px;
    }
    .fullcarte{
        padding: 7px;
        gap:2px;
    }
    .smalltext{
        justify-content:none;
        align-items: none;
        height:0;
        gap:7px;
        padding-bottom: 20px;
    }
    .italicText{
        font-size: 11px;
        margin: 0;
    }
}

/* Mobile M */
@media (max-width:375px){
    .container{
        gap:15px;
        width: 100%;
        height: max-content;
        margin: 0;
        padding: 0;
    }
    .testimonial{
        height:1300px;
        gap:10px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .titreTestimonial{
        height: 100px;
        padding:3px
    }
    .titreTestimonial h2{
        height: 70px;
        width: 90%;
        padding:10px;
        margin:0;
        font-size: 30px;
        text-align: center;
    }
    .card{
        width: 140px;
        height: 350px;
        margin:0px;
        padding:5px;
        padding-top: 9px;
    }
    .imgTestimonial{
        width: 100px;
        height: 100px;
    }
    .fullcarte{
        padding: 7px;
        gap:2px;
    }
    .smalltext{
        justify-content:none;
        align-items: none;
        height:0;
        gap:7px;
        padding-bottom: 20px;
    }
    .italicText{
        font-size: 11px;
        margin: 0;
    }
}
/* ---------------------------- */
/* Section 5 : FAQ */
.faq{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    margin-left:30px;
}
.titreFaq{
    width: 30%;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: "Playfair Display";
    padding: 20px;
    border-radius: 20px;
    letter-spacing: 2px;
}
#bg-none{
    box-shadow: none;
    cursor: pointer;
    background-color: none;
    font-size: 20px;

}
#bg-none:hover{
    background-color: rgb(67, 104, 80);
    border:none;
    box-shadow: none;
    color:white
}
/* Laptop */
@media (min-width:769px) and (max-width:1024px){
    .faq{
        margin-left: 0;
        gap:20px;
    }
}

/* Tablette */
@media (min-width:426px) and (max-width:768px){
    .faq{
        flex-direction: column !important;
        flex-wrap: wrap !important;
        height: 700px;
        width: 95%;
    }
    .titreFaq{
        width: 90%;
    }
    .accordion-flush {
        width: 90%;
    }
    .accordeon-item{
        width: 90%;
    }
}

/* Mobile L */
@media (min-width:376px) and (max-width:425px){
    .faq{
        flex-direction: column !important;
        flex-wrap: wrap !important;
        height: 700px;
        width: 100%;
        margin-left: 0;
    }
    .titreFaq{
        width: 100%;
        text-align: center;
    }
    .accordion-flush {
        width: 90% !important;
        flex-direction: column !important;
        flex-wrap: wrap !important;
    }
    .accordion-collapse{
        width: 400px !important;

    }
    .accordeon-item{
        width: 90%;
    }
    .bg-none{
        width: 100%;
    }
}

/* Mobile M */
@media (max-width:375px){
    .faq{
        flex-direction: column !important;
        flex-wrap: wrap !important;
        height: 700px;
        width: 100%;
        margin-left: 0;
    }
    .titreFaq{
        width: 100%;
        text-align: center;
    }
    .accordion-flush {
        width: 90% !important;
        flex-direction: column !important;
        flex-wrap: wrap !important;
    }
    .accordion-collapse{
        width: 400px !important;

    }
    .accordeon-item{
        width: 90%;
    }
    .bg-none{
        width: 100%;
    }
}
/* ----------------------------------- */
/* CONTACT */

.contactMsg{
    width: 100%;
    height: 750px;
    background-color: rgb(173, 188, 159);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
    padding-top:80px;
}

.titreContact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titreContact h3{
    font-size: 40px;
    color:rgb(18, 55, 42);
    font-weight: bolder;
}

.formContactMsg{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}
            
.nameEmail{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.nameEmail .reponse{
    width:45%;
}

.subject{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subject .reponse{
    width: 92%;
}

.message{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message .reponse{
    width: 92%;
    height: 150px;
}
.reponse {
    height:50px;
    font-size: 15px;
    padding-left:8px;
    background: transparent;
    border: 1px solid white;
    color:rgb(18, 55, 42);
    display: flex;
    justify-content: start;
}

.reponse:focus{
    outline: none
}
.sendmessage{
    border-style: none;
}

.sendmsg{
    height: 60px;
    width: 180px;
    border-style: none;
    background-color: rgb(18, 55, 42);
    border: 2px solid rgb(18, 55, 42);
    color:white;
    border-radius: 20px;
}


/* ----------------------------------------- */
/* A PROPOS */
.bannerAbout{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(99, 136, 137);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    /* height: 650px; */
}

.texteBannerAbout{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../src/image/close-up-detail-team-working-o-new-project-coworking-space-writing-ideas-looking-through-graphics-tablet-laptop-teamwork-business-concept.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    width:60%;
    height: 650px;
    z-index: 1; 
    opacity: 1;
    color:white
}

.textTopAbout{
    color: white;
    width: 40%;
    text-align: center;
}
.textTopAbout h2{
    font-size: 60px;
}

.textTopAbout p{
    font-size: 20px;
}

/* Section 2 - C'est quoi? */
.kesako{
    width: 100%;
}
.allKesako{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.texteKesako{
    width: 40%;
    padding: 40px;
}
.texteKesako h2{
    font-size: 50px;
    letter-spacing: 1px;
    font-family: "Playfair Display";
    text-transform: uppercase;
}
.texteKesako p{
    font-size: 15px;
    letter-spacing: 1px;
}
.imgKesako{
    width: 50%;
    display: flex;
    justify-content: end;
}

.imgKesako img{
    width: 600px;
}
/* Laptop */
@media (min-width:769px) and (max-width:1024px){
    .bannerAbout{
        height: 400px;
    }
    .texteBannerAbout {
        height: 400px;
    }
    .imgKesako{
        width: 40%;
        justify-content: center;
        align-items: center;
    }
    .imgKesako img {
        width: 300px;
    }
    .texteKesako{
        width: 50%;
    }
}

/* Tablette */
@media (min-width:426px) and (max-width:768px){
    .bannerAbout{
        height: 400px;
    }
    .texteBannerAbout {
        height: 400px;
    }
    .textTopAbout h2{
        font-size: 40px;
    }
    .allKesako{
        flex-wrap: wrap;
        padding: 20px;
    }
    .imgKesako{
        width: 40%;
        justify-content: center;
        align-items: center;
    }
    .imgKesako img {
        width: 420px;
    }
    .texteKesako{
        width: 70%;
        padding: 10px;
    }
}

/* Mobile L */
@media (min-width:376px) and (max-width:425px){
    .bannerAbout{
        flex-wrap: wrap;
        padding-bottom: 10px;
        width: 100%;

    }
    .texteBannerAbout {
        height: 400px;
        width: 100%;
    }
    .texteBannerAbout img{
        width: 100%;
    }
    .textTopAbout{
        width: 90%;

    }
    .textTopAbout h2{
        font-size: 25px;
        padding: 20px;
        margin: 0;
        width: 100%;
    }
    .allKesako{
        flex-wrap: wrap;
        gap:10px;
        padding: 20px;
    }
    .imgKesako{
        width: 40%;
        justify-content: center;
        align-items: center;
    }
    .imgKesako img {
        width: 320px;
    }
    .texteKesako{
        width: 95%;
        padding: 10px;
    }
    .texteKesako h2{
        font-size: 35px;
    }
    .texteKesako p{
        width: 100%;
        text-align: start;
        
    }
}

/* Mobile M */
@media (max-width:375px){
    .bannerAbout{
        flex-wrap: wrap;
        padding-bottom: 10px;
        width: 100%;

    }
    .texteBannerAbout {
        height: 400px;
        width: 100%;
    }
    .texteBannerAbout img{
        width: 100%;
    }
    .textTopAbout{
        width: 90%;

    }
    .textTopAbout h2{
        font-size: 25px;
        padding: 20px;
        margin: 0;
        width: 100%;
    }
    .allKesako{
        flex-wrap: wrap;
        gap:10px;
        padding: 20px;
    }
    .imgKesako{
        width: 40%;
        justify-content: center;
        align-items: center;
    }
    .imgKesako img {
        width: 300px;
    }
    .texteKesako{
        width: 95%;
        padding: 10px;
    }
    .texteKesako h2{
        font-size: 35px;
    }
    .texteKesako p{
        width: 100%;
        text-align: start;
        
    }
}
/* ------------------------------------------------------- */
/* COWORKING */
.bannerCowork{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../src/image/view-from-business-startup-teamwork-concept-startup-partners-sitting-coworking-space-talking-about-future-project-looking-through-examples-work-laptop-digital-tablet.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    width: 100%;
    height: 450px;
}

.texteBannerCowork{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    width:100%;
    height: 180px;
    z-index: 1; 
    opacity: 1;
    color:white
}

/* <!-- Section 2 : Qu'est-ce que c'est? --> */
.whatIsIt{
    width: 100%;
    display: flex;
    justify-content: start;
    padding-top: 30px;
    padding-bottom: 30px;
    gap:40px
}
.imgWhat {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgWhat img{
    width: 500px;
}
.textWhat{
    width: 50%;
    padding-left: 50px;
    letter-spacing: 2px;
}

/* <!-- Section 3 : Espace gratuit --> */
.espaceGratuit{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.texteGratuit{
    width: 60%;
    letter-spacing: 2px;
    font-size: 15px;
    padding: 50px;
    border: 2px solid rgb(99, 136, 137);
    display: flex;
    justify-content: center;
    gap:10px;
    border-radius: 10px;
    
}
.texteGratuit img{
    width: 60px;
    height: 60px;
    
}

/* <!-- Section 4 : Espace gratuit --> */
.horaires{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 70px;
}
.horaires h1{
    font-size: 40px;
    letter-spacing: 2px;
    margin: 0;
    font-family: "Playfair Display";
    padding: 15px;

}

.fullHoraires{
    width: 70%;
    padding: 20px;
    background-color: rgb(173, 188, 159);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    border-radius: 10px;
}

.day{
    width: 15%;
    height: 160px;
    background-color: rgb(251, 250, 218);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:20px;
    border-radius: 20px;
    transition:all .3s ease;
}
.day:hover{
    transform: scale(1.1);
}
.left{
    width: 70%;
    height: 80px;
    border-radius: 50%;
    background-color: #cda45d;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Section 5 - Comment venir */
.coming{
    width: 100%;
    padding: 30px;
    background-color:rgb(67, 104, 80);
}
.coming h1{
    font-size: 40px;
    letter-spacing: 2px;
    margin: 0;
    font-family: "Playfair Display";
    text-align: center;
    padding: 15px;
    color:white;
}
.googleMapCowork{
    width: 100%;
}

/* Laptop */
@media (min-width:769px) and (max-width:1024px){
    .fullHoraires{
        width: 90%;
    }
    .logoMG{
        width: 200px !important;
    }
    .whatIsIt{
        gap:10px;
    }
}

/* Tablette */
@media (min-width:426px) and (max-width:768px){
   
    .imgWhat{
        width: 40%;
    }

    .imgWhat img{
        width: 300px;
    }

    .textWhat{
        width: 60%;
    }
    .textWhat p{
        font-size: 15px;
    }

    .texteGratuit{
        width: 80%;
        padding: 10px;
    }
    .fullHoraires{
        width: 95%;
        gap:5px;
        padding: 10px;
    }
    .day{
        height:140px ;
    }
}

/* Mobile L */
@media (min-width:376px) and (max-width:425px){
    .texteBannerCowork h2{
        font-size: 45px;
    }
    .whatIsIt{
        width: 100%;
        gap:10px;
        flex-wrap: wrap-reverse !important;
        justify-content: center;
        align-items: center;
    }
    .textWhat{
        width: 95%;
        padding: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .textWhat h1{
        text-align: center;
    }
    .textWhat p{
        text-align: none;
        font-size: 12px;
    }
    .imgWhat{
        width: 40%;
    }

    .imgWhat img{
        width: 300px;
    }

    .texteGratuit{
        width: 80%;
        flex-wrap: wrap;
        padding: 5px;
        gap:30px
    }
    .texteGratuit p{
        font-size: 12px;
        width: 95%;
    }
    .fullHoraires{
        width: 85%;
        gap:10px;
        padding: 15px;
        flex-wrap: wrap;
    }
    .day{
        width: 200px;
        height:180px ;
    }
    .left{
        height: 120px;
        width: 60%;
    }
    .coming{
        padding:30px 10px 30px 10px;
    }

}

/* Mobile M */
@media (max-width:375px){
    .texteBannerCowork h2{
        font-size: 45px;
    }
    .whatIsIt{
        width: 100%;
        gap:10px;
        flex-wrap: wrap-reverse !important;
        justify-content: center;
        align-items: center;
    }
    .textWhat{
        width: 95%;
        padding: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .textWhat h1{
        text-align: center;
        font-size: 20px;

    }
    .textWhat p{
        text-align: none;
        font-size: 12px;
    }
    .imgWhat{
        width: 40%;
    }

    .imgWhat img{
        width: 250px;
    }

    .texteGratuit{
        width: 80%;
        flex-wrap: wrap;
        padding: 5px;
        gap:30px
    }
    .texteGratuit p{
        font-size: 12px;
        width: 95%;
    }
    .horaires{
        padding: 10px;
    }
    .fullHoraires{
        width: 85%;
        gap:10px;
        padding: 15px;
        flex-wrap: wrap;
    }
    .day{
        width: 200px;
        height:180px ;
    }
    .left{
        height: 120px;
        width: 60%;
    }
    .coming{
        padding:30px 10px 30px 10px;
    }
    .network{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .allIcon{
        gap:10px;
    }
    .iconFooter{
        width: 50px;
        height: 50px;
    }
    .iconFooter img{
        width: 30px;
        height: 30px;
    }
    
}

/* JOB */
.bannerJob{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    background-image: url(../src/image/Tiny\ people\ searching\ for\ business\ opportunities.jpg);
    background-repeat: no-repeat;
    background-size: 80%; 
    background-position: center;
    height: 550px;
    margin-top: 40px;

}

.texteBannerJob{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    width:60%;
    z-index: 1; 
    opacity: 1;
}

.texteBannerJob img{
    width: 500px;
    border-radius: 20px;
}
.textTopJob{
    color:rgb(99, 136, 137);
    width: 40%;
    text-align: center;
}
.textTopJob h2{
    font-size: 60px;
}

.jobs{
    padding: 30px;
    padding: 40px;
}

.alljobs{
    width: 100%;
    padding: 30px;
}
.jobDivPart{
    width: 22%;
    height: 400px;
    border:2px solid black;
    border-radius: 20px;
    padding:20px;
    transition: all .3s ease;
}
.jobDivPart:hover{
    transform:scale(1.02);
    background-color: rgb(18, 55, 42);
    color:rgb(251, 250, 218);
}
.jobDivPart:hover h3{
    background-color:rgb(251, 250, 218);
    color:black;
    cursor:pointer;
}

.jobDivPart h3{
    text-align: center;
    background-color: rgb(99, 136, 137);
    color: white;
    border-radius: 20px;
    height:max-content;
    padding: 10px;
    font-size: 20px;
}

.solojob{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding: 20px;
}
.textjob{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:30px
}
/* Laptop */
@media (min-width:769px) and (max-width:1024px){
   .bannerJob{
    height: 450px;
   }
    .jobs{
        padding: 40px;
    }
    .jobDivPart{
        width: 20%;
        height: 280px;
        padding: 10px;
    }
    .jobDivPart h3{
        font-size: 15px;
    }
    .jobDivPart p{
        font-size: 13px;
    }
    .alljobs{
        padding: 0;
    }
    .solojob{
        width: 100%;
        padding: 0;
    }
    .textjob{
        width: 100%;
    }
}

/* Tablette */
@media (min-width:426px) and (max-width:768px){
    .bannerJob{
        height: 350px;
    }
    .jobs{
        padding: 40px;
    }
    .jobDivPart{
        width: 35%;
        height: 220px;
        padding: 10px;
    }
    .jobDivPart h3{
        font-size: 15px;
    }
    .jobDivPart p{
        font-size: 13px;
    }
    .alljobs{
        padding: 0;
    }
    .solojob{
        width: 100%;
        padding: 0;
    }
    .textjob{
        width: 100%;
        gap:40px;
    }
}

/* Mobile L */
@media (min-width:376px) and (max-width:425px){
    .bannerJob{
        height: 350px;
        margin-top:2px;
    }
    .jobs{
        padding: 30px;
    }
    .jobDivPart{
        width: 45%;
        height: 220px;
        padding: 10px;
    }
    .jobDivPart h3{
        font-size: 15px;
    }
    .jobDivPart p{
        width: 100%;
        font-size: 10px;
        display: flex;
    }
    .alljobs{
        padding: 0;
    }
    .solojob{
        width: 100%;
        padding: 0;
    }
    .textjob{
        width: 100%;
        gap:20px;
    }
    .network{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .allIcon{
        gap:10px;
    }
    .iconFooter{
        width: 50px;
        height: 50px;
    }
    .iconFooter img{
        width: 30px;
        height: 30px;
    }
}

/* Mobile M */
@media (max-width:375px){
    .bannerJob{
        height: 350px;
        margin-top:2px;
    }
    .jobs{
        padding: 10px;
        margin-bottom: 20px;
    }
    .jobDivPart{
        width: 45%;
        height: 220px;
        padding: 10px;
    }
    .jobDivPart h3{
        font-size: 15px;
    }
    .jobDivPart p{
        width: 100%;
        font-size: 10px;
        display: flex;
    }
    .alljobs{
        padding: 0;
    }
    .solojob{
        width: 100%;
        padding: 0;
    }
    .textjob{
        width: 100%;
        gap:20px;
    }
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;  
    }
    .network{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .allIcon{
        gap:10px;
    }
    .iconFooter{
        width: 50px;
        height: 50px;
    }
    .iconFooter img{
        width: 30px;
        height: 30px;
    }
}