@import url(./../../node_modules/bootstrap/dist/css/bootstrap.css);
body{
    width: 100vw;
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.logoMG{
    border-radius: 30px;
    border : 3px solid black;
    border-style: none;
    width: 250px;
    height: 50px;
    /* overflow: hidden; */
}

.logoMG img{
    width:200px;
    height: 50px;
}

header{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width:100%;
    margin:0;
}

.contact{
    border:2px solid black
}

.listNav li{
    list-style: none;
    justify-content: center;
    width:20%;
    padding:5px;
    text-align: center;
}

.bar{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color:rgb(38, 36, 34);
    width:120px;
    height:100px;
}

.bar:hover{
    background-color:rgb(215, 210, 201);
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 20px;
    color: rgb(38, 36, 34);
}


nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    width:100%;
    height:80px;
    background-color:rgb(242, 220, 150);
    /* font-size: calc(0.5rem + 1.5 vw); */
}

nav ul{
    display: flex;
    align-items: center;
    margin:0;
    padding:0;
    gap:35px;
    justify-content: space-between;
    width: 70%;
}

nav li {
    font-size: 14px;
    font-weight: bolder;
}


#icon{
    cursor: pointer;
    display: none;
    right:0;
    top:0;
    width: 50px !important;
    height: 50px !important;
}
.dropdownLangage{
    display: none;
    float:left;
    overflow: hidden;
}
.iconTranslate{
    cursor: pointer;
    position: relative;
}

.translate{
    width: 30px;
    height: 30px;
}

.dropdownLangage{
    overflow: hidden;
    float:left;
    display: none;

}
.langages{
    display: block;
    color:white;
    border-radius: 5px;
    left:-100px;
    position: absolute;
    right:10px;
    top:60px;
    width: 120px;
    background-color:rgb(74, 70, 66); ;
}


/* Laptop */
@media (min-width:769px) and (max-width:1024px){
    nav li {
        font-size: 10px;
    }
}
/* //Tablette */
@media (min-width:426px) and (max-width:768px){
    #icon{
        display:block ;
    }
    nav ul{
        position: fixed;
        top:-150%;
        flex-direction: column;
        text-align: center;
        width: 100%;
        transition: 0.25s;
        background-color:white;
        opacity: 1;
    }
    nav li{
        padding:3px 0;
        top:15%;
        background-color:white;
        color:rgb(38, 36, 34);
    }
    .bar:hover{
        background-color: white;
    }
    nav.active ul{
        left:0;
        top: 80px;
        gap:2px;
    }
    .bar{
        font-size: 12px;
    }
}

/* //Mobile L */
@media (min-width:376px) and (max-width:425px){
    #icon{
        display:block ;
    }
    nav ul{
        position: fixed;
        top:-150%;
        flex-direction: column;
        text-align: center;
        width: 100%;
        transition: 0.25s;
        background-color:white;
        opacity: 1;
    }
    nav li{
        padding:3px 0;
        top:15%;
        background-color:white;
        color:rgb(38, 36, 34);
    }
    .bar:hover{
        background-color: white;
    }
    nav.active ul{
        left:0;
        top: 80px;
        gap:2px;
    }
    .bar{
        font-size: 12px;
    }
}

/* // Mobile M */
@media (max-width:375px){
    #icon{
        display:block ;
    }
    nav ul{
        position: fixed;
        top:-150%;
        flex-direction: column;
        text-align: center;
        width: 100%;
        transition: 0.25s;
        background-color:white;
        opacity: 1;
    }
    nav li{
        padding:3px 0;
        top:15%;
        background-color:white;
        color:rgb(38, 36, 34);
    }
    .bar:hover{
        background-color: white;
    }
    nav.active ul{
        left:0;
        top: 80px;
        gap:2px;
    }
    .bar{
        font-size: 12px;
    }
}
/* ---------------------------------------------------------------- */
/* Section 1 : Banière */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../src/image/imageworkers.webp);
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: 650px;
}

.texteBanner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    width:100%;
    height: 180px;
    background: #00000068;
    z-index: 1; 
    opacity: 1;
    color:white
}

h2{
    font-size: 60px;
}

/* //Mobile L */
@media (min-width:376px) and (max-width:425px){
    .texteBanner h2,p{
        width: 80%;
        text-align: center;
    }
    .texteBanner h2{
        font-size: 40px;
    }
}

/* // Mobile M */
@media (max-width:375px){
    .texteBanner h2,p{
        width: 80%;
        text-align: center;
    }
    .texteBanner h2{
        font-size: 40px;
    }
}



/* -------------------------------------------------------- */
/* Section 2 : What is it */
.whatIs{
    width: 100%;
    height:950px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(204, 213, 174);
}

.textWhatIs{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.textWhatIs{
    color:white;
    
}

.formationsTrio{
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.formation{
    width: 80%;
    height:280px;
    border: 2px dotted black;
    border-radius: 20px;
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:15px;
    transition: 0.3s;
    
}

.formation:hover{
    /* background-color: rgb(214, 241, 235); */
    background-color: rgb(233, 237, 201);   
    transform: scale(1.02);
}

.formation h3{
    margin: 0;
}

.imgList{
    display: flex;
    gap:30px;
}

.listFormation li{
    width: 80%;
    display: flex;
}

.coworkImg{
    width: 40%;
    height: auto;
    border-radius: 50%;
}
.intership{
    width: 35%;
    border-radius: 50%;
}

.agendaImg {
    width: 40%;
    height: auto;
}
.btnClick{
    border-radius: 20px;
    border:2px solid black;
    width: 150px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top:15px;
    margin-bottom:10px;
}

.btnClick a{
    text-decoration: none;
    color:black;

}

/* //Laptop */
@media (min-width:769px) and (max-width:1024px){
    .textWhatIs h2{
        font-size: 40px;
    }
    .formation{
        height: 230px;
        padding: 5px;
    }
    .formation h3{
        font-size: 20px;
    }

    .imgList{
        gap:10px;
        height:140px
    }
    .btnClick{
        width: 100px;
    }
}

/* //Tablette */
@media (min-width:426px) and (max-width:768px){
    .textWhatIs{
        width: 90%;
    }
    .formationsTrio{
        width: 90%;
    }
    .formation{
        width: 70%;
        height:200px;
        gap:7px
    }
    .imgList{
        height: 130px;
    }
}

/* //Mobile L */
@media (min-width:376px) and (max-width:425px){
    .textWhatIs{
        width: 90%;
        text-align: center;
    }
    .textWhatIs h2{
        font-size: 30px;
        width: 90%;
    }
    .textWhatIs p{
        width: 90%;
    }
    .formationsTrio{
        width: 95%;
    }
    .formation{
        width: 90%;
        height:200px;
        gap:7px
    }
    .listFormation{
        margin-bottom: 0px;
    }
    .listFormation li{
        font-size: 14px;
        padding-left: 0px;
        width:150px
    }
    .imgList{
        height: 130px;
        gap:5px;
    }

    .btnClick{
        width: 100px;
    }
    .btnClick a{
        font-size: 14px;
    }
}

/* // Mobile M */
@media (max-width:375px){
    .whatIs{
        padding:15px;
    }
    .textWhatIs{
        width: 90%;
        text-align: center;
    }
    .textWhatIs h2{
        font-size: 30px;
        width: 90%;
    }
    .textWhatIs p{
        width: 90%;
    }
    .formationsTrio{
        width: 100%;
    }
    .formation{
        width: 95%;
        height:200px;
        gap:7px
    }
    .listFormation{
        margin-bottom: 0px;
    }
    .listFormation li{
        font-size: 14px;
        padding-left: 0px;
        width:150px
    }
    .imgList{
        height: 130px;
        gap:5px;
    }

    .btnClick{
        width: 100px;
    }
    .btnClick a{
        font-size: 14px;
    }
}

/* Section 3 : Evenements */
.events{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    /* background-color: rgb(78, 75, 75); */
    background-color: rgb(212, 163, 115);
}
.notetitle{
    width: 50px;
    padding-right: 10px;
}
.events h1{
    width: 60%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.971);
    border-radius: 50px;
    margin:0;
}
.contentEvent{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap:100px;
}
.contactBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactBtn button{
    border-style: none;
    border-radius: 20px;
    border: 5px dotted white;
    background-color: rgba(232, 215, 149, 0.971);
}
.contentEvent .button{
    width: 200px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agendaEvents{
    width: 400px;
}

/* Laptop */
@media (min-width:769px) and (max-width:1024px){
    .events h1{
        width: 80%;
    }
}

/* Tablette */
@media (min-width:426px) and (max-width:768px){
    .events{
        gap: 50px
    }
    .events h1{
        width: 80%;
        height:70px;
        font-size: 30px;
    }
    .contentEvent{
        width: 90%;
        gap:20px
    }
    .contactBtn{
        width: 90%;
    }

}

/* Mobile L */
@media (min-width:376px) and (max-width:425px){
    .events{
        gap: 50px
    }
    .events h1{
        width: 70%;
        height:70px;
        font-size: 20px;
        text-align: center;
    }
    .contentEvent{
        width: 90%;
        gap:20px
    }
    .contactBtn{
        width: 90%;
    }
}

/* Mobile M */
@media (max-width:375px){
    .events{
        gap: 50px
    }
    .events h1{
        width: 70%;
        height:70px;
        font-size: 20px;
        text-align: center;
        padding:10px;
    }
    .contentEvent{
        width: 90%;
        gap:20px
    }
    .contactBtn{
        width: 90%;
    }
    .agendaEvents{
        width: 300px;
    }
}

/* Section 4 : Carousel Partenaires */
.partners{
    width: 100%;
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.carousel{
    width: 70%;
    height: 400px;
    position: relative;
}

.carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    inset:0;
    opacity: 0;
    transition: 250ms opacity ease-in-out;
    transition-delay: 30ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide[data-active]{
    opacity: 1;
    z-index: 1;
    transition-delay:0ms ;
}

.slide img{
    display: block;
    width: 50%;
    height: auto;
    object-fit: cover;
}

.btn-carousel{
    position: absolute;
    background: none;
    border:none;
    font-size: 4rem;
    top:50%;
    z-index: 2;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 0.5rem;
    background-color: rgba(0,0,0,.1);
}

.btn-carousel:hover,
.btn-carousel:focus{
    color: white;
    background-color: rgba(0,0,0,.2);
}

.btn-carousel:focus{
    outline: 1px solid black;
}

.btn-carousel.previous{
    left:1rem;
}

.btn-carousel.next{
    right:1rem;
}

/* .textCarousel{
    width: 50%;
}
.carouselPartners{
    width: 100%;
    height:400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:10px;
    position:relative;
}

.carouselPartners button{
    position: absolute;
    background: none;
    border: none;
    outline:none;
    z-index: 2;
    width: 30px;
    padding: 0;
    cursor: pointer;
    color:rgb(0, 0, 0);
    transform: translateY(-50%);
    top:50%;
}
.listePartners{
    width: 100%;
    padding-left:0;
    opacity: 0;
}

.active{
    opacity: 1;
}

#previous {
    left:5px
}

#next{
    right:5px;
} */ 

/* -------------------------------------- */
/* Section 5 : Contact */
.contactMap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    background-color: rgba(251, 233, 162, 0.971);
}

.fullContact{
    width: 90%;
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}

.textContact h2{
    font-size: 25px;
    text-decoration: underline;
}

.titleContact{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.googleMap{
    width:70%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
            
iframe{
    height:350px;
}

/* ----------------------------------------- */
/* Section 6 : Newsletters */
.newsletters{
    width: 100%;
    height:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.news{
    width:100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}
            
form{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:20px;
}
                
.top{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:25px;
}
.top .rsvp{
    width:50%;

}

.top button{
    border: none;
    background-color: white;
    position: relative;
}
/* .middle{
    width: 90%;
    display: flex;
    gap:20px;
}
.middle .rsvp{
    width:100%;
}

.bottom{
    width: 90%;
    display: flex;
    gap:20px;
} */
.rsvp {
    height:40px;
    font-size: 12px;
    padding-left:8px;
    background: transparent;
    border: 1px solid #664e26;
    color:#cda45d;
    display: flex;
    justify-content: flex-start;
}

/* .bottom .rsvp{
    text-align: start;
    height:100px;
    width:100%;
} */


.rsvp:hover{
    border: 1px solid #cda45d
}

.rsvp:focus{
    outline: none
}
.msgInput{
    display: none;
}
.letters{
    width: 60px;
}

/* Section 7 : Footer */
.footer{
    background-color: rgb(165, 165, 141);
    width: 100%;
    height: 400px;
}

.reseaux{
    color:white;
    font-size: 60px;
    width: 50%;
}

.network{
    display: flex;
    justify-content: center;
    gap:10px;
    flex-wrap: wrap;
    padding:0;
}

.soloReseau{
    display: flex;
    gap:20px;
    height:200px;
    border-radius: 20px;

}

.soloReseau:hover{
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity:1;
    pointer-events: auto ;
}

.card-body{
    padding: 2px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
}
